{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="h5 fw-normal mb-2">Answerpoint Summary</div>
    <div class="row justify-content-md-center">
        <div class="col-12 mb-3">
            <div class="card bg-secondary-alt shadow-sm">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <div class="h5 fw-normal mb-2">Answerpoint Summary</div>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div ><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 mb-3">
            <div class="card bg-secondary-alt shadow-sm">
                <div class="card-header d-sm-flex flex-row align-items-center flex-0">
                    <div class="d-block mb-3 mb-sm-0">
                        <div class="h5 fw-normal mb-2">Answerpoint Details</div>
                    </div>
                </div>
                <div class="card-body p-2">
                    <div ><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p></div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
