<html>
    <head>
        <title>Details</title>
    </head>
    <body>
        {{tfDetails}}
        <hr>
        <table class="table table-striped small" >
                <tbody>
                    <tr>
                        <td>Start DateTime</td>
                        <td>{{tfDetails.startdatetime}}</td>
                    </tr>
                    <tr>
                        <td>TollFree</td>
                        <td>{{tfDetails.tollfree}}</td>
                    </tr>
                    <tr>
                        <td>AnswerPoint</td>
                        <td>{{tfDetails.answerpoint}}</td>
                    </tr>
                    <tr>
                        <td>Customer Name</td>
                        <td>{{tfDetails.customer_name}}</td>
                    </tr>
                    <tr>
                        <td>Account Num</td>
                        <td>{{tfDetails.account_num}}</td>
                    </tr>
                    <tr>
                        <td>Caller</td>
                        <td>{{tfDetails.caller}}</td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td>{{tfDetails.duration}}</td>
                    </tr>
                    <tr>
                        <td>Cost</td>
                        <td>{{tfDetails.cost}}</td>
                    </tr>
            </tbody>
        </table>
        
    </body>
</html>