{% extends "layouts/basee.html" %}

{% block title %} View Profile {% endblock %} 

{% block content %}



<!-- <div class="col-12 col-xl-12 mb-2">
    <div class="col-12 px-0 mb-2">
        <div class="card border-light shadow-sm">
            <div class="card-body d-flex flex-row align-items-center flex-0 border-bottom">
                <div class="d-block mb-3 mb-sm-0">
                    <div class="h2 fw-normal text-black mb-2">Profile</div>
                    <br/>
                    <h2 class="h5 mb-4">General information (profile_view.html)</h2>
                    <div class = "form-group">
                            <form method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->

<!-- <h1>{{user.pk}}</h1> -->
<!-- <main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="mb-4 mb-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">

                        <form method="post" action="">
                        
                            {% csrf_token %}

                            
                            <div class="form-group mb-4">
                                <label for="name">Name : {{ company.name }}</label>
                            </div>

                           
                            <div class="form-group mb-4">
                                <label for="code">Code : {{ company.code }}</label>
                            </div>
                            

                            
                            <div class="form-group mb-4">
                                <label for="address">Address : {{ company.address }}</label>
                            </div>
                            

                            
                            <div class="form-group mb-4">
                                <label for="poscode">Poscode : {{ company.poscode }}</label>
                            </div>
                            

                                
                                <div class="form-group mb-4">
                                    <label for="state">State : {{ company.state }}</label>
                                </div>
                                                                    


                            <div class="d-grid">
                                
                                <a href="{% url 'list_company' %}" class="btn btn-dark btn-lg" style="background-color:#ee7202; border: #ee7202;" role="button" > Back To List</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main> -->

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="200px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <form method="post" action=""></form>
                    {% csrf_token %}

                {{ company.name }}
                {{ company.email }}
                <span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Company Profile</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label for="name">Name : {{ company.name }}</label></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label for="code">Code : {{ company.code }}</label></div>
                    <br><br>
                    <div class="col-md-12"><label for="address">Address : {{ company.address }}</label></div>
                    <br><br>
                    <div class="col-md-12"><label for="poscode">Poscode : {{ company.poscode }}</label></div>
                    <br><br>
                    <div class="col-md-12"><label for="state">State : {{ company.state }}</label></div>
                    
                </div>
                
                <div class="mt-5 text-center"><a href="{% url 'list_company' %}" class="btn btn-dark btn-lg" style="background-color:#ee7202; border: #ee7202;" role="button" > Back To List</a></div>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>


{% endblock %}